@model List<MyMvcWebApp10pm.Models.EmployeeModel>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Action</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.EmpId</td>
    <td>@item.EmpName</td>
    <td>@item.EmpSalary</td>
    <td>
    @Html.ActionLink("Edit","Edit",new { id = @item.EmpId })
    </td>
</tr>
    }
</table>